* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}


input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body {
    font-family: 'EB Garamond', serif;
}

/* Header */

.header__inner {
    display: flex;
    background-color: #F4FCFF;
    width: 100%;
   
    height: 650px ;
}

.header__intro {
    width: 100%;
    max-width: 696px;
    margin: 30px 0px 0px 125px;
  
}

.logo {
    margin: 20px 0px 0px 125px;
    position: absolute;
    width: 71px;
    height: 50px;
}

.nav__link {
    margin-left: 80px;
    padding: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    line-height: 22.5px;
}



.nav__link--image {
    margin: 15px 0px 0px 420px;
    padding: 15px 15px;
    text-decoration: none;
    color:#000000;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    line-height: 22.5px;
}

.nav__link--image.active {
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 5px 30px;
    margin-left: 20px;
}

.header__title {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    line-height: 77px;
    color: #000000;
    margin: 90px 72px 26px 0px;
}

.header__text {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px 50px 50px 0;
}

.header__image {
    width: 100%;
    max-width: 904px;
    background: url("../images/Header/mountains.jpg") center no-repeat ;
    background-size: cover;
   
}

.header__image--nav {
   margin: 30px 50px 0px 0px;
}

/*Header__foot*/

.header__foot {
    display: flex;
    position: absolute;
    width: 1008px;
    height: 100px;
    left: 239px;
    top: 509px;
    border: 1px solid #F4FCFF;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.place {
    
    margin: 15px 0px 0px 114px ;
}

.foot__place {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);

    margin-bottom: 8px;
}

.destination {
    height: 40px;
    width: 209px;

    box-sizing: border-box;
    position: absolute;
    border: 0.25px solid #00000042;
    border-radius: 10px;

    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    color:  rgba(6, 88, 138, 1);
}

.destination:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;

    border-top: 2px solid #000000;
    border-right: 2px solid #000000;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.foot__text {
    margin: 9px 0px 9px 18px;
}

.fa-solid.fa-location-dot {
    padding-right: 14px;
    color: rgba(35, 219, 231, 1);
}

.fa-regular.fa-calendar-days {
    padding-right: 4px;
    color: rgba(35, 219, 231, 1);
}

.fa-solid.fa-user-group {
    padding-right: 18px;
    color: rgba(35, 219, 231, 1);
}

.start {
    margin: 15px 0px 0px 77px;
}

.foot__start {
    font-style: 'Garamond';
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);

    margin-bottom: 8px;
}

.date {
    height: 40px;
    width: 209px;

    box-sizing: border-box;
    position: absolute;
    border: 0.25px solid #00000042;
    border-radius: 10px;

    font-family: 'EB Garamond', serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    color:  rgba(6, 88, 138, 1);
}

.date:after{
        content: "";
        display: block;
        width: 9px;
        height: 9px;
    
        border-top: 2px solid #000000;
        border-right: 2px solid #000000;
    
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
    
        transform: translateY(-50%) rotate(135deg);
    }


.date__text {
    margin: 9px 0px 9px 15px;
}

.amount {
    margin: 15px 0px 0px 116px;
}

.foot__amount {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);

    margin-bottom: 8px;
}

.people {
    height: 40px;
    width: 209px;

    box-sizing: border-box;
    position: absolute;
    border: 0.25px solid #00000042;
    border-radius: 10px;

    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    color:  rgba(6, 88, 138, 1);
}

.people:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;

    border-top: 2px solid #000000;
    border-right: 2px solid #000000;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}



.people__text {
    margin: 9px 0px 9px 25px;
}

.discover {
    background-color: rgba(35, 219, 231, 1);
    width: 200px;
    height: 100px;
    border-radius: 25px;
    box-sizing: border-box;
    margin-left: 118px;
}

.discover__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 1);
    padding: 36px 31px 35px 59.5px;
}


/* Sites*/

.sites {
    background-color: rgba(233, 249, 255, 1);
    width: 100%;
    height: 150px;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.logos_item {
   padding: 50px 50px ;
}

/*Img*/

.img {
    max-width: 100%;
    height: 383px;
    background: url(../assets/Images/img/img.jpg) no-repeat center;
}

/*Relax*/

.relax {
   display: flex;
   position: relative;
   background-color: rgba(244, 252, 255, 1);
}


h1 {
    display: flex;
    font-family: 'EB Garamond';
    font-size: 64px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);

    padding: 90px 0px 0px 125px;
}


.relax__title {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);

    padding: 35px 0px 0px 125px;
}

.relax__btn {
    margin: 79px 0px 0px 125px;
    border: 1px solid rgba(35, 219, 231, 1) ;
    border-radius: 15px;
    width: 250px;
    height: 60px;
    background-color: rgba(35, 219, 231, 1);
}

.relax__text {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    padding: 17px 18px;
}




.relax__item {
    position: absolute;
    bottom: 80px;
    z-index: 2;

    width: 420px;
    height: 650px;
    margin-left: 70px; 
}

.relax__swim {
    width: 501px;
    height: 390px;
    margin-left: 430px;

    position: absolute;
    bottom: 250px;
    z-index: 1;
}

.relax__pool {
    width: 408px;
    height: 374px;
    margin-left: 380px;

    position: absolute;
    bottom: -100px;
    z-index: 3;
}

/*Section_relax*/

.section__relax {
    background-color: rgba(244, 252, 255, 1); ;
    display: flex;
    position: relative;
}

.palm {
    width: 548px;
    height: 750px;
    margin: 148px 134px 0px 128px;
}

.relax__vactitle {
    margin-top: 185px ;

    font-size: 64px;
    color: rgba(0, 0, 0, 1);
}

.relax__vactext {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;

    margin-top: 25px;
}

.relax__numbers {
    display: flex;
}

.vacair__vacpack {
    margin: 46px 222px 0px 0px;
}

.vactraveler__vachotel {
    margin-top: 46px;
}

.vacation__pack {
    margin-top: 61px;
}

.vacation__hotel {
    margin-top: 61px;
}

.number__vac{
    padding: 10px;
    font-family: 'Monotype Corsiva', serif;
    font-style: italic;
    font-size: 64px;
    color: rgba(35, 219, 231, 1);
} 

.vacation__text {
    font-size: 24px;
    color:  rgba(0, 0, 0, 0.7);
}

.section__top {
    display: flex;
    background: rgba(244, 252, 255, 1);
}

.top__title {
    text-transform: capitalize;
    font-size: 64px;
    color: rgba(0, 0, 0, 1);

    padding-top: 100px;
    margin: 0px 0px 25px 125px;
}

.top__text {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 125px;
}


.top__items {
    display: flex;
}

.circle__first {
    width: 50px;
    height: 50px;
    background: rgba(231, 231, 231, 1) ;
    border-radius: 50%;

    margin: 181px 15px 0px 573px;
}

.circle__second {
    width: 50px;
    height: 50px;
    background: rgba(35, 219, 231, 1);
    border-radius: 50%;

    margin: 181px 125px 0px 0px ;
}

/*Relax__pic*/

.relax__pic {
    display: flex;
    background: rgba(244, 252, 255, 1);
}

.pic__first{
    width: 437px;
    height: 700px;

    margin: 60px 20px 0px 125px;
    border: 1px solid #ffffff;
    background: #ffffff ;
    border-radius: 71px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.pic__second {
    width: 437px;
    height: 700px;

    margin-top: 60px ;
    border: 1px solid #ffffff;
    background: #ffffff ;
    border-radius: 71px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.pic__third {
    width: 437px;
    height: 700px;

    margin: 60px 0px 0px 20px ;
    border: 1px solid #ffffff;
    background: #ffffff ;
    border-radius: 71px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.river, .city , .sand   {
    width: 400px;
    height: 500px;

    margin: 17px 18px 21px 19px;
}

.pic__title {
    display: flex;
}

.pic__name {
    font-size: 30px;
    color: rgba(6, 88, 138, 1) ;

    margin: 0px 91px 25px 50px;
}

.pic__name--two {
    font-size: 30px;
    color: rgba(6, 88, 138, 1) ;

    margin: 0px 0px 29px 48px;
}

.pic__name--three {
    font-size: 30px;
    color: rgba(6, 88, 138, 1) ;

    margin: 0px 11px 32px 50px;
}

.star {
    width: 20px;
    height: 18.75px;
    margin: 2px 15px 0px 0px;
}

.star__two {
    width: 20px;
    height: 18.75px;
    margin: 2px 2px 0px 0px;
}

.pic__rating {
    font-size: 24px;
    color: rgba(6, 88, 138, 1) ;

    padding-top: 5px ;
}

.pic__text {
    margin: 0px 32px 55px 19px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7) ;
}


/*Comments*/

.firstarrow {
    width: 50px;
    height: 50px;
    margin: 222px 0px 205px 125px;
    border: 1px solid rgba(35, 219, 231, 1);
    border-radius: 50%;
    background: rgba(35, 219, 231, 1) ;
}

.firstarrow:before {
    content: "";
    display: block;
    width: 8px;
    height: 17.92px;

    border-top: 2px solid #ffffff ;
    border-right: 2px solid #ffffff;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.comments {
    background: rgba(233, 249, 255, 1) ;
}

.comments__title {
    font-size: 64px;
    text-align: center;
    color: rgba(0, 0, 0, 1);

    padding-top: 100px;
}

.comments__people {
    display: flex;
}


.comment__first {
    width: 323px;
    height: 260px;
    border: 1px solid #ffffff;
    border-radius: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    margin: 108px 20px 109px 64px;
}

.first__text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7) ;
    padding: 50px 19px 10.47px 19px;
    text-align: center;
}

.first__pic {
    display: flex;
}


.stars {
    margin-left: 72px;
}
.stars__pic {
    width: 25px;
    height: 21.87px;
    margin-right: 10px;
}

.stars__picnone {
    width: 25px;
    height: 21.87px;
}

.nick {
    width: 50px;
    height: 50px;

    margin: 25px 20px 30px 30px;
}

.first__name {
    margin-top: 30.66px;
}

.nickname {
    font-size: 20px;
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
}

.nickprof {
    margin-top: 4px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7) ;
}

.comment__second {
    width: 436px;
    height: 350px;
    border: 1px solid #ffffff;
    border-radius: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    margin-top: 63px;
}

.second__text {
    font-size: 24px;
    color: rgba(0, 0, 0, 1) ;
    text-align: center;

    margin: 64px 20px 26.07px 22px;
    
}

.stars--two {
    margin-left: 135px;
}
.stars__pic--two {
    width: 25px;
    height: 21.87px;
    margin-right: 10px;
}

.second__pic {
    display: flex;
}

.sara {
    width: 60px;
    height: 60px;
    margin: 46.06px 20px 0px 34px;
}

.second__name {
    margin-top: 46.06px ;
}

.saraname {
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1) ;
}

.saraprof {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7) ;
    margin-top: 4px;
}


.comment__third {
    width: 323px;
    height: 260px;
    border: 1px solid #ffffff;
    border-radius: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    margin: 108px 20px 109px 20px;
}

.third__text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7) ;
    padding: 50px 19px 23.27px 19px;
    text-align: center;
}

.third__pic {
    display: flex;
}


.stars--three {
    margin-left: 72px;
}
.stars__pic--three {
    width: 25px;
    height: 21.87px;
    margin-right: 10px;
}

.stars__picnone--three {
    width: 25px;
    height: 21.87px;
}

.mark {
    width: 50px;
    height: 50px;

    margin: 36.86px 20px 30px 30px;
}

.third__name {
    margin-top: 43.86px;
}

.markname {
    font-size: 20px;
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
}

.markprof {
    margin-top: 4px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7) ;
}

/*Newsletter*/

.newsletter {
    background: rgba(244, 252, 255, 1) ;
    height: 679px;
    border-bottom: 1px solid rgba(165, 165, 165, 1) ;
}

.letter__title {
    padding: 136px 360px 30px 359px;
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
}

.letter__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7) ;
    margin: 0px 580px 60px 580px;
}

.email {
    display: flex;
    width: 600px;
    height: 70px;
    margin: 0px 500px 200px 570px;

    border: 1px solid rgba(217, 234, 235, 1);
    border-radius: 25px;
    background: rgba(217, 234, 235, 1) ;
}

.textemail {
    font-size: 22px;
    font-weight: 400;
    padding: 22px 0px 22px 39px;
    color: rgba(0, 0, 0, 0.7);
}

.button {
    color: rgba(255, 255, 255, 1) ;
    background: rgba(35, 219, 231, 1) ;
    width: 202px;
    height: 70px;

    border: 1px solid rgba(35, 219, 231, 1);
    border-radius: 25px;
    margin-left: 215px;
    padding: 20px 20px 24px 20px;
    font-size: 22px ;
    font-weight: 400;
}

/*Footer*/

footer {
    background: rgba(244, 252, 255, 1) ;
    height: 543px;
    display: flex;
}

.foot__socialnetwork {
    display: flex;
    
}
