* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}


input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body {
    font-family: 'EB Garamond', serif;
}

h2 {
    font-size: 64px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 120%;
}

p {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    word-spacing: 1px;
    line-height: 120%;
}

/* Header */

.header {
    display: flex;
    background-color: #F4FCFF;
    width: 100%;
   
    height: 650px ;
}

.header__intro {
    width: 100%;
    max-width: 696px;
    margin: 30px 0px 0px 125px;
}

.logo {
    width: 71px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px ;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    line-height: 22.5px;
}

.header__image--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: 30px auto;
}

.nav__link--image {
    text-decoration: none;
    color:#000000;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    line-height: 22.5px;
}

.nav__link--image.active {
    padding: 6px 25px;
    border: 2px solid #000000;
    border-radius: 20px;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    line-height: 77px;
    color: #000000;
    margin: 90px 72px 26px 0px;
}

.header__text {
    margin: 0px 50px 50px 0;
}

.header__image {
    width: 100%;
    max-width: 904px;
    background: url("../images/header/mountains.png") center no-repeat;
    background-size: cover;
}

/*Header__foot*/

.header__foot {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 1008px;
    height: 100px;
    left: 239px;
    top: 509px;
    border: 1px solid #F4FCFF;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}
 
 .foot__item--first {
    padding: 15px 0px 0px 80px;
 } 

 .foot__item--second {
    padding: 15px 30px 0px 0px;
 }

 .foot__item--last {
    padding: 15px 50px 0px 0px;
 }

.foot__title {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);

    margin-bottom: 8px;
}

.foot__inside {
    height: 40px;
    width: 209px;

    box-sizing: border-box;
    position: absolute;
    border: 0.25px solid #00000042;
    border-radius: 10px;

    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    color:  rgba(6, 88, 138, 1);
}

.foot__inside:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;

    border-top: 2px solid #000000;
    border-right: 2px solid #000000;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.fa-solid.fa-location-dot {
    padding-right: 14px;
    color: rgba(35, 219, 231, 1);
}

.fa-regular.fa-calendar-days {
    padding-right: 4px;
    color: rgba(35, 219, 231, 1);
}

.fa-solid.fa-user-group {
    padding-right: 18px;
    color: rgba(35, 219, 231, 1);
}

.foot__text {
    margin: 9px 0px 9px 18px;
}

.date__text {
    margin: 9px 0px 9px 15px; 
 }

.people__text {
    margin: 9px 0px 9px 25px;
}

.discover{
    background-color: rgba(35, 219, 231, 1);
    width: 180px;
    height: 100px;
    border-radius: 25px;
    

    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: rgba(255, 255, 255, 1);
}

/* Sites*/

.sites {
    background-color: rgba(233, 249, 255, 1);
    width: 100%;
    height: 150px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.img__item {
    height: 30px;
}

.img__item:first-child {
    height: 25px;
    padding-left: 100px;
}

.img__item:last-child{
    height: 18px;
    padding-right: 100px;
}

/*Img*/

.img {
    max-width: 100%;
    height: 383px;
    background: url(../images/img/img.jpg) no-repeat center;
}

/*Relax*/

.relax {
   display: flex;
   position: relative;
   background-color: rgba(244, 252, 255, 1);
}

.relax__memorable {
    display: flex;
    
    padding: 90px 0px 0px 125px;
}

.relax__title {
    padding: 35px 0px 0px 125px;
}

.relax__btn {
    margin: 79px 0px 0px 125px;
    border: 1px solid rgba(35, 219, 231, 1);
    border-radius: 15px;
    width: 250px;
    height: 60px;
    background-color: rgba(35, 219, 231, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    padding: 17px 18px;
}

.relax__item {
    position: absolute;
    bottom: 80px;
    z-index: 2;

    width: 420px;
    height: 650px;
    margin-left: 70px; 
}

.relax__swim {
    width: 501px;
    height: 390px;
    margin-left: 430px;

    position: absolute;
    bottom: 250px;
    z-index: 1;
}

.relax__pool {
    width: 408px;
    height: 374px;
    margin-left: 380px;

    position: absolute;
    bottom: -100px;
    z-index: 3;
}

/*Section_relax*/

.section__relax {
    background-color: rgba(244, 252, 255, 1);
    display: flex;
    position: relative;
}

.palm {
    width: 548px;
    height: 750px;
    margin: 148px 134px 0px 128px;
}

.relax__vactitle {
    margin-top: 185px;
}

.relax__vactext {
    margin-top: 25px;
}

.relax__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number__vac{
    margin-top: 46px;
    padding: 10px;
    font-family: 'Monotype Corsiva', serif;
    font-style: italic;
    font-size: 64px;
    color: rgba(35, 219, 231, 1);
} 

.section__top {
    display: flex;
    justify-content:space-between;
    background: rgba(244, 252, 255, 1);
    padding-right: 125px ;
}

.top__title {
    text-transform: capitalize;

    padding-top: 100px;
    margin: 0px 0px 25px 125px;
}

.top__text {
    margin-left: 125px;
}

.top__items {
    display: flex;
    align-items: flex-end;
}

.circle__first {
    width: 50px;
    height: 50px;
    background: rgba(231, 231, 231, 1);
    border-radius: 50%;
    margin-right: 15px;
}

.circle__second {
    width: 50px;
    height: 50px;
    background: rgba(35, 219, 231, 1);
    border-radius: 50%;
}

/*Relax__pic*/

.relax__pic {
    display: flex;
    justify-content: space-between;
    background: rgba(244, 252, 255, 1);
}

.pic {
    width: 437px;
    height: 700px;

    margin: 60px;
    border: 1px solid #ffffff;
    background: #ffffff ;
    border-radius: 71px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.places {
    width: 400px;
    height: 500px;

    margin: 17px 18px 21px 19px;
}

.pic__title {
    display: flex;
}

.pic__name {
    font-size: 30px;
    color: rgba(6, 88, 138, 1);

    margin: 0px 91px 25px 50px;
}

.pic__name--two {
    font-size: 30px;
    color: rgba(6, 88, 138, 1);

    margin: 0px 0px 29px 48px;
}

.pic__name--three {
    font-size: 30px;
    color: rgba(6, 88, 138, 1);

    margin: 0px 11px 32px 50px;
}

.star {
    width: 20px;
    height: 18.75px;
    margin-top: 2px;
}

.star__two {
    width: 20px;
    height: 18.75px;
    margin-top: 2px;
}

.pic__rating {
    font-size: 24px;
    color: rgba(6, 88, 138, 1);

    padding-top: 5px;
}

.pic__text {
    margin: 0px 32px 55px 19px;
    font-size: 20px;
}


/*Comments*/

.comments {
    background: rgba(233, 249, 255, 1);
}

.comments__title {
    text-align: center;

    padding-top: 100px;
}

.comments__people {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.comment__first {
    width: 323px;
    height: 260px;
    border: 1px solid #ffffff;
    border-radius: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    margin: 108px 20px 109px 0px;
}

.first__text {
    font-size: 20px;
    padding: 50px 19px 10.47px 19px;
    text-align: center;
}

.first__pic {
    display: flex;
}

.stars {
    margin-left: 72px;
}

.stars__pic {
    width: 25px;
    height: 21.87px;
    margin-right: 10px;
}

.stars__picnone {
    width: 25px;
    height: 21.87px;
}

.nick {
    width: 50px;
    height: 50px;

    margin: 25px 20px 30px 30px;
}

.first__name {
    margin-top: 30.66px;
}

.nickname {
    font-size: 20px;
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
}

.nickprof {
    margin-top: 4px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.comment__second {
    width: 436px;
    height: 350px;
    border: 1px solid #ffffff;
    border-radius: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    margin-top: 63px;
}

.second__text {
    text-align: center;

    margin: 64px 20px 26.07px 22px;
}

.stars--two {
    margin-left: 135px;
}

.stars__pic--two {
    width: 25px;
    height: 21.87px;
    margin-right: 10px;
}

.second__pic {
    display: flex;
}

.sara {
    width: 60px;
    height: 60px;
    margin: 46.06px 20px 0px 34px;
}

.second__name {
    margin-top: 46.06px ;
}

.saraname {
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.saraprof {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 4px;
}

.comment__third {
    width: 323px;
    height: 260px;
    border: 1px solid #ffffff;
    border-radius: 70px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    margin: 108px 20px 109px 20px;
}

.third__text {
    font-size: 20px;
    padding: 50px 19px 23.27px 19px;
    text-align: center;
}

.third__pic {
    display: flex;
}

.stars--three {
    margin-left: 72px;
}

.stars__pic--three {
    width: 25px;
    height: 21.87px;
    margin-right: 10px;
}

.stars__picnone--three {
    width: 25px;
    height: 21.87px;
}

.mark {
    width: 50px;
    height: 50px;

    margin: 36.86px 20px 30px 30px;
}

.third__name {
    margin-top: 43.86px;
}

.markname {
    font-size: 20px;
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
}

.markprof {
    margin-top: 4px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

/*Newsletter*/

.newsletter {
    background: rgba(244, 252, 255, 1);
    height: 679px;
    border-bottom: 1px solid rgba(165, 165, 165, 1);
}

.letter__title {
    padding: 136px 360px 30px 359px;
    text-align: center;
}

.letter__text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px 580px 60px 580px;
}

.email {
    display: flex;
    width: 600px;
    height: 70px;
    margin: 0px 500px 200px 570px;

    border: 1px solid rgba(217, 234, 235, 1);
    border-radius: 25px;
    background: rgba(217, 234, 235, 1);
}

.textemail {
    font-size: 22px;
    font-weight: 400;
    padding: 22px 0px 22px 39px;
    color: rgba(0, 0, 0, 0.7);
}

.join {
    color: rgba(255, 255, 255, 1);
    background: rgba(35, 219, 231, 1);
    width: 202px;
    height: 70px;

    border: 1px solid rgba(35, 219, 231, 1);
    border-radius: 25px;
    margin-left: 215px;
    padding: 20px 20px 24px 20px;
    font-size: 22px ;
    font-weight: 400;
}

/*Footer*/

footer {
    background: rgba(244, 252, 255, 1);
    height: 543px;
    display: flex;
    justify-content: space-evenly;
}

.foot__socialnetwork {
    display: flex;
}

.foot__logo {
    margin: 145px 0px 176px 0px;
}

.footer__pic {
    padding-left: 15px;
    width: 71px;
    height: 42.93px;
    margin-bottom: 41px;
}

.foot__socialnetwork {
    margin-top: 30px;
    padding-left: 20px;
}

.circle__network {
    margin-right: 20px;
    color: rgba(255, 255, 255, 1);
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(35, 219, 231, 1);

    border: 1px solid rgba(35, 219, 231, 1);
    border-radius: 50%;
    text-decoration: none;
}

.fa-brands.fa-instagram:before {
    display: block;
    font-size: 24px;
    margin: 12px 13px;
}

.fa-brands.fa-facebook:before {
    display: block;
    font-size: 24px;
    margin: 12px 12px;
}

.fa-brands.fa-youtube:before {
    display: block;
    font-size: 24px;
    margin: 12px 11px;
}

.footer__head {
    display: block;
    margin: 122px 0px 50px 0px;
    font-size: 32px;
    font-weight: 700;
    color: rgba(6, 88, 138, 1);
}

.footer__popular {
    display: block;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 28.8px;
    padding-bottom: 50px;
}